<div class="container">
  <div class="about">
    <div class="text">About</div>
    <div class="row">
      <div class="infoFull">
        <div class="col-lg">
          <div class="pf-img">
            <!-- <img [defaultImage]="defaultImage" [lazyLoad]="pfImage" [useSrcset]="true" alt="Shyamal" /> -->
            <div class="info">
              <div class="photo">
                <div class="name" id="name">
                  <h1>CoOpt</h1>
                  <h3>IISER Kolkata</h3>
                </div>
                <input type="button" class="btn btn-outline-info" id="btnInfoName" value="hide me" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg">
          <div class="infoText">
            Optics conference
          </div>
        </div>
      </div>
    </div>
  </div>
</div>